body {
	display: flex;
	flex-wrap: wrap;
	background: purple;
	text-transform: uppercase;
	font-size:16em;
	margin: .2em;
}

.containerLeft {
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items:center;
	border: .2em pink solid;
	font-size: .1em;
	width: 19em;
	height: 19em;
	padding: .6em;
	margin: auto;
}

button {
	background-color: #ffac15;
	display: inline;
}

#headerTitle {
	text-align: justify;
	text-align:center;
	width: 19em;
	height: 19em;
	background-color: grey;
	font-size: .1em;
	padding: .6em;
	margin: auto;
	border: .2em pink solid;
}

h1 {
	display: flex;
	align-items: center;
	background-color: grey;
	width:420px;
	margin: auto;
	padding: auto;
	letter-spacing: 2em;
	transition: letter-spacing 5s; 
}

h1:hover {
	letter-spacing: .2em;
	background-color: aqua;
}

.firstDiv {
	width: 420px;
	height: 400px;
	margin: auto;
	background-color:aqua;
}

.list-group {
	list-style-type: none;
	text-align: left;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: .12em;
	margin: .82em;
	padding: .1em;
	width: 50em;
	height: 1.3em;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color:black;
	color: white;
	letter-spacing: .48em;
	word-spacing: .57em;
}